body {
    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #453841;
  }
  
  .calculator {
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #e8509a;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .display {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    height: 60px;
    font-size: 24px;
    text-align: right;
    padding: 5px;
    background-color: #ebe2e7;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: auto; 
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 5px;
  }
  
  button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    height: 80px;
    width: 70px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #34022b;
  }
  
  button:hover {
    background-color: #71a4b6;
  }